<div class="container">
    <label>{{ 'paginator.page_size_label' | translate }}</label>
    <mat-form-field appearance="outline">
        <mat-select id="size-options" [(value)]="paginator.pageSize" [formControl]="pageSizeControl">
            <mat-option *ngFor="let option of paginator.pageSizeOptions" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class='pagesIndex'>
        <button mat-icon-button (click)="goToPage(paginator.pageIndex - 1)">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <a [class]='{ active: paginator.pageIndex == index }' (click)="goToPage(index)" *ngFor="let index of pageNumbers">
            {{ index }}
        </a>
        <button mat-icon-button (click)="goToPage(paginator.pageIndex + 1)">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>