.container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    mat-form-field {
        margin: 0px 10px;
        width: 100px;
        ::ng-deep .mat-form-field-infix.ng-tns-c70-1{ border: 0px}
        ::ng-deep .mat-select-arrow-wrapper{ transform: translateY(0) }
        ::ng-deep .mat-form-field-wrapper{ padding: 0; }
    }

    .pagesIndex{
        display: flex;
        align-items: center;
        text-align: center;
        color: #69788C;

        a{ 
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: 3px;
            padding: 3px;
            margin: 2px;
        }
        a:hover{ 
            transition: 0.2s;
            background-color: #69788C ;
            color: #fff;
        }
        a.active{
            background: #007DFE;
            color: #fff;
        }
    }
}