.container{
    display: flex;
    height: 100%;

    .form{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #F2F2F2;

        .form-field{
            width: 60%;
            mat-form-field { width: 100%; }
            .login-button { background: #007DFE; width: 100%;}
        }
    }

    .container-img{
        background: #fff;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}