<div class="container">
    <section class="formSection">
        <form class="form-field" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div><img src="assets/images/payfriend-logo.png" alt="Logo da Pay Friends"></div>
            <h1>Bem vindo de volta</h1>
            <div class='email'>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName='email' matInput>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input formControlName='password' [type]="hidePassword ? 'password' : 'text'" matInput>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <button mat-flat-button class='login-button' color="primary">Entrar</button>
        </form>
    </section>

    <section class="container-img">
        <div><img src="assets/images/man-doing-online-payment.png" draggable="false" alt="Homem fazendo pagamento online"></div>
    </section>
</div>
