<div class="container">
    <section class="form">
        <div class="form-field">
            <div><img src="assets/images/payfriend-logo.png" alt="Logo da Pay Friends"></div>
            <h1>Bem vindo de volta</h1>
            <div class='email'>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <button mat-flat-button class='login-button' color="primary">Entrar</button>
        </div>
    </section>

    <section class="container-img">
        <div><img src="assets/images/man-doing-online-payment.png" draggable="false" alt="Homem fazendo pagamento online"></div>
    </section>
</div>
