section.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #002D69;
    height: 80px;
    padding: 0px 20px;
}

section.body{
    padding: 50px 40px;

    .content-top{
        display: flex;
        justify-content: space-between;

        h1{
            color:#333333;
            font-size: 36px;
        }
    
        .add-btn{
            font-size: 12px;
            background: #007DFE;
            border-radius: 4px;
        }
    }

    .table-container{
        margin-top: 20px;
        
        .table-header{
            display: flex;
            justify-content: space-between;
        }

        .table-body{
            table {
                width: 100%;
                
                .sort-btn{
                    display: flex;
                    flex-direction: column;

                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 15px;
                        line-height: 0px !important;
                        margin-left: 4px;

                        span{ line-height: 0px !important;}
                        mat-icon{width: 100%; height: 100%;}
                    }
                    button.active{
                        color: #007DFE;
                    }
                }

                mat-row:nth-child(2n){
                    background-color: #F5F8FA;
                }
                
                mat-cell{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .cell-data{
                        display: flex;
                        flex-direction: column;
                    }
                }
                mat-cell:last-child{
                    justify-content: end;
                    .action-btn{
                        cursor: pointer;
                        margin: 0px 5px;
                    }
                }
                
                .img-payment{
                    width: 30px;
                }
                sub{
                    color: #69788C;
                }
            
                ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
                    background: #007DFE;
                }
    
                .mat-column-title{ flex: 0 0 25%; }
                .mat-column-date, .mat-column-value{ flex: 0 0 15%; }
                .mat-column-isPayed{ flex: 0 0 7%; }
            }
        }
    }
}

.blur{
    filter: blur(4px);
}
